<html>
    <body>
        <header class="header-card">

            <img id="portrait" class='portrait-img' src="/assets/myself-33.png" alt="A picture of me dressed real snazzy-like.">

            <div class="general-intro-wrapper">
                <div>
                    <h1 class="greeting-text">Hi, I'm James!</h1>
                    <aside class="intro-text-wrapper">
                        <div>A soccer playing,</div>
                        <div>music making,</div>
                        <div>web-developing student.</div>
                    </aside>
                </div>

                <div class="contact-info-wrapper">
                    <a target="_blank" href="https://github.com/JamesTedesco">
                        <img src="/assets/icons/github.svg" alt="Github icon"></a>
                    <a target="_blank" href="https://twitter.com/JamesT802">
                        <img src="/assets/icons/twitter.svg" alt="Twitter icon"></a>
                    <a href="#contact">
                        <img src="/assets/icons/mail.svg" alt="Email icon"></a>
                </div>
            </div>
        </header>
        <script>
            // reveals picture all at once rather than allowing a staggered load.
            let img = document.getElementById('portrait')
            img.onload = () => img
                .classList
                .add('visible')
        </script>
    </body>
</html>