<html>
    <body>
        <header class="header-card">
            <img class="portrait-img" src="/assets/myself.png" alt="A picture of me dressed real snazzy-like.">

            <div class="general-intro-wrapper">
                <h1 class="greeting-text">Hi, I'm James!</h1>
                <aside class="intro-text-wrapper">
                    <div>A soccer playing,</div>
                    <div>music making,</div>
                    <div>web-developing student.</div>
                </aside>

                <section class="contact-info-wrapper">
                    <a target="_blank" href="https://github.com/JamesTedesco">
                        <img src="/assets/icons/github.svg" alt="Github icon"></a>
                    <a target="_blank" href="https://twitter.com/JamesTedesco802">
                        <img src="/assets/icons/twitter.svg" alt="Twitter icon"></a>
                    <a target="_blank" href="mailto:jamestedesco802@gmail.com">
                        <img src="/assets/icons/mail.svg" alt="Email icon"></a>
                </section>
            </div>
        </header>
    </body>
</html>