.experience-level {
    background-color: #FF9A36;
    color           : white;
    width           : fit-content;
    font-weight     : bolder;
    padding         : 10px;
    transform       : rotate(-270deg) translate(0, -100%);
    transform-origin: left top;
}

hr {
    margin    : 0;
    border-top: 2px dashed black;
}

.simple-list {
    padding-left  : 60px;
    padding-bottom: 20px;
}

.simple-list li {
    margin     : 20px 0;
    line-height: 1.6em;
}

.icons-list {
    display        : flex;
    justify-content: space-around;
    flex-wrap      : wrap;
    padding: 0;
}

.icons-list li {
    list-style: none;
    flex      : 1;
    text-align: center;
}

.icon-item {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin        : 15px;
}

.icon-item img {
    height: 50px;
}

.icon-item * {
    padding: 10px;
}



/* styles for cards */

.card {
    width        : 100%;
    box-shadow   : 2px 2px 6px 0px #949494;
    margin-bottom: 45px;
}

.card-subject {
    background-color: #3C73DE;
    color           : white;
    font-weight     : initial;
    padding         : 5px 15px;
    margin          : 0;
}

.card-content .icons-list{
    padding: 20px;
}

.text-in-card {
    padding: 20px;
}