@font-face {
    font-family: "Fira Code";
    src        : url("assets/FiraCode-VariableFont_wght.ttf") format("wght"),
}

html,
body {
    margin: 0;
    height: 100vh;
    font-family: "Fira Code", sans-serif;
}

body {
    color: #484848;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

p,
.card {
    font-size: 1.5em;
}

.header-card {
    background-color: #F9E3B5;
    box-shadow      : 0px 6px 20px 23px #EBCA84;
    overflow        : auto;
    display         : flex;
    justify-content : space-around;
    height          : 100vh;
    margin-bottom   : 70px;
}

.portrait-img {
    height    : calc(100vh - 25px);
    margin-top: 25px;
    visibility: hidden;
    filter    : drop-shadow(10px 6px 10px rgba(0, 0, 0, .7));
}

.general-intro-wrapper {
    margin         : 20px;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
}

.greeting-text {
    color      : #3C73DE;
    font-weight: bolder;
    text-align : end;
    margin     : 8px 0;
}

.intro-text-wrapper {
    text-align : end;
    line-height: 2.5;
    font-size  : 1.3em;
}

#mobile-portrait {
    display: none;
}

.contact-info-wrapper {
    display        : flex;
    justify-content: space-evenly;
    flex-wrap      : wrap;
}

.contact-info-wrapper img {
    height: 80px;
    margin: 8px;
    filter: drop-shadow(6px 6px 2px rgba(0, 0, 0, .7));
}


/* prevents FOUC */
img.visible {
    visibility: visible;
}


/* overall */
.container {
    margin: 0 15%;
}


.card-content {
    padding: 20px;
}


/* section styles */


.section-header {
    color        : orange;
    font-weight  : bolder;
    margin-top   : 30px;
    margin-bottom: 10px;
    margin-left  : -20px;
}



/* bio */

#biography p {
    line-height: 1.2em;
}

#biography span {
    font-weight: bold;
}




/* styles for cards */

.card {
    width     : 100%;
    box-shadow: 2px 2px 6px 0px #949494;
    margin    : 15px 0;
}

.card-subject {
    background-color: #3C73DE;
    color           : white;
    font-weight     : bolder;
    width           : fit-content;
    padding         : 5px 15px;
}


@media only screen and (min-width: 1600px) {
    .header-card {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 540px) {
    .header-card {
        flex-direction: column-reverse;
    }

    .contact-info-wrapper img {
        height: 65px;
    }

    #portrait {
        height    : auto;
        width     : 18em;
        margin    : 0 auto;
        margin-top: auto;
    }

    /* move main content */
    div.container {
        margin: 0 4%;
    }

    h1 {
        font-size: 3em;
    }

    .intro-text-wrapper {
        font-size: 1em;
        line-height: 1.2em;
    }

    h2.section-header {
        margin-left: 0;
    }

}