<html>

    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/assets/styles.css">
        <link rel="stylesheet" href="/assets/card-styles.css">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.svg">
    </head>

    {# Styling home page here #}

    <body>

        {% include "_head.html" %}

        <div class="container">

            <article id="biography">
            <h2 class="section-header">Bio</h2>
                <p>I'm a born and raised Vermonter, currently in my junior year at the <span>University of Vermont</span> where I'm studying political science and French. After class, I can be found at practice with the Lawrence Debate Union or representing UVM's chapter of the Yale-founded, "<span><a target="_blank" href="https://www.evcnational.org/blogpost/jumpstarting-our-campus-presence-with-time-off-to-vote">Every Vote Counts</a></span>."</p>
                <p>Web-development has really taken my heart; its sharability and strong community make it for me. In practice, I'm interested in using the <span>JAMstack</span> and being conciencious of user experience.</p>
                <p>If you'd like to make something happen, definitely <span><a href="mailto:jamestedesco802@gmail.com">reach out!</a></span></p>
            </article>

            <article id="cards-wrapper">
                <h2 class="section-header">Summary</h2>
                {# Build cards #}
                {%- for card in collections.card -%}
                    <div class="card">
                    <h3 class="card-subject">{{card.data.title}}</h3>
                        <div class="card-content">
                            {{ card.data.content | safe }}
                        </div>
                    </div>
                {%- endfor -%}
            </article>
        </div>
    </body>
</html>